<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Annotation d'un paquet de tweets</title>
        <link rel="stylesheet" href="/static/style.css"/>
        <meta name="author" content="The MIT License - Copyright 2019 INA (Rémi Uro - http://www.ina.fr/)">
    </head>
    <body>
        <div style="text-align: center;">
            <h1>Jeu suivant ?</h1>
            <p>Merci d'avoir fini ce jeu !</p>
            <form method="get" action="/set/{{ set }}/start">
                <button class="buttongreen" type="submit">Continuer ?</button>
            </form>
        </div>
    </body>
</html>

